<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SocialSharp</title>
    <link href="~/images/favicon.png" rel="icon" type="image/png" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SocialSharpMVC.styles.css" asp-append-version="true" />
</head>
<body>
    <div id="wrapper">
        @* Topbar *@

        <partial name="Navigation/_TopBar" />

        <partial name="Navigation/_Sidebar" />
        
        @RenderBody()
    </div>

    @* Assets scripts *@
    <script src="~/js/script.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
