@{
    ViewData["Title"] = "Home Page";
}

<main id="side-main">

    <div class="container">
        <div class="feed">
            @* Stories placeholder *@
            <div class="stories-container">Stories</div>
        </div>
        <div class="right-sidebar">
            <partial name="Sidebar/_SuggestedFriends" />

            <partial name="Sidebar/_Trending"/>
        </div>
    </div>

</main>

<partial name="Modals/_CreateStory" />
<partial name="Modals/_CreateStatus" />
