@model PostVM

<form asp-controller="Home" asp-action="CreatePost">
    <textarea name="content" id="" rows="2" placeholder="What do you have in mind?" asp-for="@Model.Content"></textarea>

    <input type="file" name="uploadedContent" id="imageUpload" accept="image/png,image/jpeg">

    <button type="submit">Create</button>
</form>