@{}

<form action="">
    <textarea name="content" id="" rows="2" placeholder="What do you have in mind?"></textarea>

    <input type="file" name="uploadedContent" id="imageUpload" accept="image/png,image/jpeg">
</form>